USE [master]
GO
/****** Object:  Database [testApi]    Script Date: 22/04/2022 09:19:34 p. m. ******/
CREATE DATABASE [testApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\testApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\testApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testApi]
GO
/****** Object:  Table [dbo].[Amortizacion]    Script Date: 22/04/2022 09:19:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amortizacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fk_credito_id] [int] NOT NULL,
	[numeroDeCuota] [int] NOT NULL,
	[montoCapital] [decimal](18, 0) NOT NULL,
	[MontoInteres] [decimal](18, 0) NOT NULL,
	[saldoInsolutoCredito] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credito]    Script Date: 22/04/2022 09:19:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[montoPrestamo] [decimal](18, 0) NOT NULL,
	[tasa] [decimal](18, 0) NOT NULL,
	[plazo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Amortizacion]  WITH CHECK ADD FOREIGN KEY([fk_credito_id])
REFERENCES [dbo].[Credito] ([id])
GO
USE [master]
GO
